{% extends "base.html" %}

{% block content %}
  <div class="container">
      <h2>Login</h2>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <label for="username">Nome de usuário QuentinUU:</label>
          <input type="text" name="username" required>
          <label for="password">Senha:</label>
          <input type="password" name="password" required>
          <button type="submit">Entrar</button>
      </form>
      <p class="register-link">Não tem uma conta? <a href="{% url 'register' %}">Registre-se</a></p>
  </div>
{% endblock %}

