<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo ao meu Aplicativo Django Livre..!</h1>

    <b> No sul dos Estados Unidos, o ex-escravo Django faz uma aliança inesperada com o caçador de recompensas Schultz para caçar os criminosos mais procurados do país e resgatar sua esposa de um fazendeiro que força seus escravos a participar de competições mortais.
        Data de lançamento: 18 de janeiro de 2013 (Brasil)
        Diretor: Quentin Tarantino
        Indicações: MTV Movie Award: Melhor Momento "Que P**** é Essa?", MAIS
        Música composta por: Ennio Morricone & Dulce Pontes, Varios
        Prêmios: MTV Movie Award: Melhor Momento "Que P**** é Essa?", MAIS
        Bilheteria: 426 milhões USD</b>
   
    <p>Se liguem!!!</p>

    <p>HTML is fun to learn.</p>

    <p><em>e liguem!!!</em></p>
    <strong>Este é um aplicativo Django simples que demonstra a navegação.!</strong>
    
    <br>
    
</body>
</html>