{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Registros de filmes Tarantino{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        {% if user.is_authenticated %}
            <a href="logout">Logout</a>
            <a href="profile">Profile</a>
        {% else %}
            <a href="login">Login</a>
            <a href="register">Register</a>
        {% endif %}
    </nav>
    <div class="main-container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
